* { margin: 0px; padding: 0px; box-sizing: border-box; }
body, p { font-family: sans-serif; font-size: larger; font-weight: 300; color: rgb(75, 75, 75); }
.main-container { width: 1150px; margin: 0px auto; }
.header { width: 100%; }
.imag { width: 100%; text-align: center; }
.img img { box-shadow: rgb(227, 227, 227) 2px 2px 1px; margin-left: 10px; }
.navigation-menu {width: 100%;border-bottom: 1px solid blueviolet;border-top: 1px solid blueviolet;display: flex;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;align-items: center;}
.navigation-menu ul { width: 30%; list-style: none; font-size: larger; line-height: 60px; }
.navigation-menu ul li { display: inline-block; margin-left: 10px; }
.navigation-menu .social { width: 40%; }
.navigation-menu .social {width: 9%;background-image: url("");text-align: end;}
section.slider { text-align: center; width: 100%; padding-top: 30px; }
section.images { width: 100%; text-align: center; }
.heding { width: 100%; height: 40px; line-height: 40px; text-align: center; background-image: url("img/cross-pattern.png"); background-repeat: repeat; }
.heding h1, h2 { background-color: white; display: inline; padding: 10px; color: rgb(102, 102, 102); font-weight: 100; }
.h-border { border-top: 1px solid rgb(227, 227, 227); border-bottom: 1px solid rgb(227, 227, 227); padding-top: 10px; padding-bottom: 10px; margin-top: 30px; margin-bottom: 10px; }
section.intro { width: 100%; text-align: center; }
.intro .containt { font-size: x-large; font-weight: 300; margin: 30px auto; }
section.section { width: 100%; }
section .center { width: 100%; display: flex; text-align: center; }
.center .left, .right { width: 45%; margin: 0px auto; }
footer.footer { width: 100%; }
ul li { list-style: none; display: inline-block; margin-right: 10px; }
.main-footer { background-color: rgb(75, 75, 75); width: 100%; display: flex; justify-content: space-between; color: rgb(255, 255, 255); padding: 20px; }
.side p { color: rgb(255, 255, 255); }
@media only screen and (max-width: 768px) {
  section.slider { text-align: center; width: 100%; padding: 0px; }
}
.social li:first-child { background-image: url("img/twitter.png"); height: 30px; width: 30px; float: left; background-position: 0px -30px; }
.social li:last-child { background-image: url("img/facebook.png"); height: 30px; width: 30px; float: left; background-position: 0px -30px; }
.social li:hover { background-position: 0px 0px; transition: background-position 0.3s ease 0s; }
.social ul {
    width: 100%;
}